In [1]:
#Inroduction to variables
x=5
y=3
x+y

8

In [7]:
#rules for declaring variables
#rule 1
first_name='aashish'
print(first_name)

firstname='abraham'
print(firstname)

#rule 2

name1='aashish'
print(name1)

aashish
abraham
aashish

In [ ]:
#rule 3

name@='aashish'    #wrong way
print(name@)

In [10]:
#intro to string datatypes
#single quote
name='aa'
print(name)
#double quote
name1="bb"
print(name1)
#triple quote
name2="""cc"""
print(name2)

aa
bb
cc

In [11]:
#verify datatype
type(name)

str

In [17]:
#enhancement of code
name='aashish ABRAHAM'
print(name)
#using title
print(name.title())
#using upper for uppercase, result with all in uppercase letters
print(name.upper())
#using lower for lowercase ,result with all in lowercase letters
print(name.lower())

aashish ABRAHAM
Aashish Abraham
AASHISH ABRAHAM
aashish abraham